@model IEnumerable<AppTorneos.Models.ViewModel.Marcadoresusuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.equipoUno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resultadoUno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipoDos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resultadoDos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(ModelItem => item.equipoUno)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.resultadoUno)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.equipoDos)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.resultadoDos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { item.id })
        </td>
    </tr>
}

</table>
