@model AppTorneos.Models.ViewModel.PartidosDatos

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Partido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.grupo, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.DropDownListFor(model => Model.equipoUno, new SelectList(Model.equipos, "Nombre", "Nombre"), htmlAttributes: new { @class = "form-control" })
    </div>

        <div class="form-group">
            @Html.DropDownListFor(model => Model.equipoDos, new SelectList(Model.equipos, "Nombre", "Nombre"), htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => Model.torneo, new SelectList(Model.torneos, "Nombre", "Nombre"), htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.horaUno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.horaUno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.horaUno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.horaDos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.horaDos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.horaDos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.grupo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.grupo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.grupo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
